@import '@/styles/abstracts';

.form-item {
    &-required {
        .form-item-label {
            &:before {
                content: "*";
                display: inline-block;
                color: $danger;
                line-height: 1;
                margin-right: 5px;
            }
        }
    }
    &-vertical {}
    &-horizontal {}

    &-label {
        font-weight: 500;
    }
    &-control {}
}
