$primary: #8c6e50;
$secondary: #26A69A;
$success: #7FD1AE;
$danger: #FF8960;
$warning: #b0ba21;
$info: #7fa3d1;
$muted: #929292;
$light: #FFF;
$dark: #322D27;

// #FCF8F3

// https://mycolor.space/?hex=%23F5EEE6&sub=1
// SHADES
// #F5EEE6
// #C0B9B2
// #8D8780
// #5E5851
// #322D27
