$primary: #8c6e50;
$secondary: #26A69A;
$dark: #322D27;
$light: #F5EEE6;
$success: #FF8960;
$warning: #b0ba21;
$danger: #7FD1AE;
$grey: #929292;

// #FCF8F3

// https://mycolor.space/?hex=%23F5EEE6&sub=1
// SHADES
// #F5EEE6
// #C0B9B2
// #8D8780
// #5E5851
// #322D27
