.row {
    $spase-x: 1.5rem;
    $spase-y: 0;

    margin-top: calc($spase-y * -1);
    margin-right: calc($spase-x * -0.5);
    margin-left: calc($spase-x * -0.5);

    & > * {
        flex-shrink: 0;
        width: 100%;
        max-width: 100%;
        padding-right: calc($spase-x * 0.5);
        padding-left: calc($spase-x * 0.5);
        margin-top: $spase-y;
    }
}
