@import '@/styles/abstracts';

.modal-dialog {
    border-radius: 20px;
    border: 1px solid #ccc;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
    padding: 20px;
    width: fit-content;
    position: absolute;
    background: #fff;
    overflow: auto;
    outline: none;

    &-overlay {}
}