@import '@/styles/abstracts';

.table {
    $root-selector: &;

    border: 1px solid lighten($muted, 35);
    border-radius: 10px;
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;

    &-head {
        #{$root-selector}-cell {
            font-weight: 600;
            background-color: lighten($muted, 40);
            &:not(:last-child) {
                border-right: 1px solid lighten($muted, 35);
            }
        }
    }

    &-body {
        #{$root-selector}-row {
            &:hover {
                background-color: lighten($muted, 40);
            }
            &:last-child {
                #{$root-selector}-cell {
                    border-bottom: none;
                }
            }
        }
    }

    &-row {
        
    }
    
    &-cell {
        text-align: center;
        font-size: 0.9rem;
        position: relative;
        padding: 12px;
        overflow-wrap: break-word;
        border-bottom: 1px solid lighten($muted, 35);
    }
}
