@import '@/styles/abstracts';

.accordion {
    &-item {}
    &-item-active {
        .accordion-body {
            grid-template-rows: 1fr;
        }
    }
    &-header {
        cursor: pointer;
        background: #ccc;
    }
    &-header-text {
        font-weight: 600;
    }
    &-content {
        overflow: hidden;
    }
    &-body {
        display: grid;
        grid-template-rows: 0fr;
        transition: 300ms;
        overflow: hidden;
    }
}
