body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: $dark;
    font-size: 18px;
    line-height: 1.5em;
}

main {
    flex: 1;
}

h1 {
    font-size: 2.25rem;
    line-height: 1.25em;
}

h2 {
    font-size: 1.875rem;
    line-height: 1.25em;
}

h3 {
    font-size: 1.5em;
    line-height: 1.25em;
}

h4 {
    font-size: 1.25rem;
    line-height: 1.25em;
}

h5 {
    font-size: 1.125rem;
    line-height: 1.25em;
}
